[Unit]
Description=Erosion {{ item }} Service
After=network.target

[Service]
ExecStart={{ erosion_path }}/venv/bin/python {{ erosion_path }}/{{ item }}.py
WorkingDirectory={{ erosion_path }}
Restart=always
User={{ erosion_user }}
Group={{ erosion_user }}
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
